/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require  bootstrap/bootstrap
 *= require  bootstrap/bootstrap-theme
 *= require_tree .
 *= require_self
*/
 
body{
  
            margin: 0px;
            padding: 0px;
}

/**/
@media screen and (max-width: 768px) {
  /*left*/  .side-collapse-container-left{
    position:relative;
    left:0;
    transition:left .4s;
  }
  .side-collapse-container-left.out{
    left:70%;
  }
  .side-collapse-left {
     top:50px;
     bottom:0;
     left:0;
     width:70%;
     position:fixed;
     overflow:hidden;
     transition:width .4s;



   }
   .side-collapse-left.in {
      width:0;
    }
  /*right*/    .side-collapse-container-right{
      position:relative;
      right:0;
      transition:right .4s;
    }
    .side-collapse-container-right.out{
      right:70%;
    }
    .side-collapse-right {
      top:50px;
      bottom:0;
      right:0;
      width:70%;
     
      position:fixed;
      overflow:hidden;
      transition:width .4s;
      background-color: #FFFFFF;
      padding: 0px;
    }
    .side-collapse-right.in {
      width:0;
   }
 }