.navMa{
	margin: 0px;
}
.WeddingHeadNav{
	font-size:30px;
	text-align: center;
	margin-top: 20px;
	font-weight:bold;
	font-family: 'Parisienne', cursive;

}
.IndexPicture{
			width:2096px;
}

.MPzero{
	margin: 0px;
	padding: 0px;
}
.carousel-control{
background-image:none !important;
filter:none !important;
}

