<div class="footer" >

 <!-- <div class="jumbotron" style="background-color: #EADAC8;"> -->
    <div class="container-fluid"  >
    	<div style="text-align: center;" >
				   <%= link_to "#{image_tag  'command/instagram_ori.svg',class:'img-thumbnail img-responsive footer-icon' }".html_safe, "https://www.instagram.com/beginner.0/" %>
			
			
					<%= link_to "#{image_tag 'command/line.svg',class:'img-thumbnail img-responsive footer-icon'}".html_safe,"https://line.me/ti/p/Y964oBO_WW",'data-toggle':"tooltip",'data-placement':"top",'title':"加我們Line"%>
			
<a href="https://www.flaticon.com/home" style="font-size:5px" >	&#169 Icon Come From the Flaticon</a>

</div>
</div>

</div>