<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div>
  <%= render partial:'flower/nav'%>
</div>


      <%= image_tag  'flower_picture/flower3.jpg',class:" img-responsive  front_index"%>
<div class="container-fluid">
      <div class="row">
            <div class="col-sm-9">
                      <div class="row">
                                <div class="col-xs-8 col-sm-6 index_context  index_picture ">  <%= image_tag  'flower_picture/full-flower.jpg',class:" img-thumbnail "%></div>
                                <div class="col-xs-8 col-sm-6 index_context text-muted "><p>鮮花是戀愛的組成的元素之一</p><p>乾燥賦予了永恆</p></div>
                    </div>
            </div>
    </div>
</div>
